body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url(../Media/window.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  
}

h1 {
  color: #333;
}

p {
  margin-bottom: 20px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

  